@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import './lib/assets/css/fonts.css';
@import './lib/assets/css/tokens.css';
@import './lib/assets/css/style.css';

:root {
	font-family: var(--font-family-base);
}

body {
	font-family: inherit;
	background-color: var(--color-brand-background);
	color: var(--color-text-primary);
}
